@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Blanka';
  src: url('fonts/Blanka-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
